.fundoCadastro {
      background-repeat: no-repeat;
      width: 100%;
      min-height: 100vh;
      background-size: cover;
      background-position: center;
  }
  .img{
    width: 500px;
    height: 500px;
    display: block;
    margin: 0 auto;
}
  