.fundoLogin {
    background-image: url(../../assets/Login.svg);
    background-color: #ffff;
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: rigth;
    background-size: 80% 80%;
  }